<% 
	content_for(:title, 'UTEFA | Contact Us') 
	content_for(:updateid, 'updates'	)
	content_for(:footerid, 'infoandrightssmall'	)
%>

<div id = "main">
	<h1>Join Us</h1>
	<p>Our meetings are hosted every Thursday at 8:00AM in WB215. Please email info@utefa.skule.ca for general inquiries. Thank you.
</div>
