<% 
	content_for(:title, 'UTEFA | Home') 
	content_for(:updateid, 'updates'	)
	content_for(:footerid, 'infoandrights'	)
%>

<div id = "main">`
	<h1>Current Portfolio Holdings</h1>				
        <ul>
        	<li type=square class = "doc"><%= link_to "Transaction History", "/documents/TransactionHistory.xlsx" %> 
  	</ul>
</div>
	

