<h1>Updates</h1>					
<p>Please Sign up for updates here: <a href="https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dHl4cFpxbmZQeWlNaFlrUUVxTWJyZlE6MQ">Link</a></p>
<p>Our first meeting will be held on September 17th from 6 to 8 pm in BA 1180</p>
